<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script>
        angular.module("myapp", [])
            .controller("MyController", function($scope) {

             

                $scope.sClients = [{
                        nClientId: "-1",
                        sClientName: "All"
                    },
                    {
                        nClientId: "1",
                        sClientName: "Arham"
                    },
                    {
                        nClientId: "2",
                        sClientName: "Choice"
                    },
                    {
                        nClientId: "3",
                        sClientName: "Tradebull"
                    }
                ];
                
                 $scope.sSegments = [{
                        nSegmentGroupId: "-1",
                        sSegmentName: "All"
                    },
                    {
                       nSegmentGroupId: "1",
                        sSegmentName: "Equity"
                    },
                    {
                        nSegmentGroupId: "2",
                        sSegmentName: "Comodity"
                    },
                    {
                       nSegmentGroupId: "3",
                        sSegmentName: "Exchange"
                    }
                ];
            $scope.getData = function(){
                $scope.nClientId = "-1";
                $scope. nSegmentGroupId = "-1";
                
                 console.log("Client Id is :" + $scope.nClientId);
                 console.log("Client Id is :" + $scope.nSegmentGroupId);
                
               
               };
            $scope.getInfo = function(){
                console.log("Calling Info Function");
                 console.log("Client Id is :" + $scope.nClientId);
                 console.log("Client Id is :" + $scope.nSegmentGroupId);
                
            }
            });
    </script>
</head>

<body ng-app="myapp">
    <div ng-controller="MyController">

        <h2>Set default value in dropdown list in AngularJs</h2>
        <div>
            Select sClientName :
            <select ng-model="nClientId" ng-options="sClient.nClientId as sClient.sClientName for sClient in sClients"></select>
        </div>
        <div>
            Client-Id : {{nClientId}}
        </div>
        
        <h2>Set default value in dropdown list in AngularJs</h2>
        <div>
            Select Segment :
            <select ng-model="nSegmentGroupId" ng-options="sSegment.nSegmentGroupId as sSegment.sSegmentName for sSegment in sSegments"></select>
        </div>
        <div>
            Segment Id : {{nSegmentGroupId}}
        </div>
        

        <div ng-init = "getData()">
          
           <div >

            <p>{{nClientId}}</p>
            <p>{{nSegmentGroupId}}</p>
            </div>
            
        </div>
        <div ng-change = "getInfo()">

           <p>Getting Info Of</p>
            <p>{{nClientId}}</p>
            <p>{{nSegmentGroupId}}</p>
            </div>
        
    </div>


</body>

</html>